body
  +fr
  font-size: 14px
  background-color: $bgc
  color: #ffffff
  // margin-top: 79px

.container
  box-sizing: border-box
  max-width: 1280px
  margin: 0 auto
  +r(934)
    max-width: 727px
  // +r(600)
  //   max-width: 100%

.hidden
  display: none!important
.visuallyhidden
  opacity: 0

a
  text-decoration: none