.header-wrapper
  position: fixed
  left: 0
  right: 0
  top: 0
  background-color: transparent
  z-index: 10
  +trans()
.hide
  top: -100px
.show
  top: 0
.black-bg
  background-color: #171717
  header
    a
      color: #ffffff
.white-bg
  background-color: #ffffff
  header
    a
      color: #201600

.fixed-bottom
  top: -75px

header
  display: flex
  justify-content: space-between
  align-items: center
  padding-top: 15px
  padding-bottom: 15px
  nav
    +r(700)
      display: none
  img
    height: 45px
    width: 45px
  a
    color: #fff
    font-size: 16px
    +fr
    margin-right: 44px
    position: relative
    +trans()
    +r(768)
    margin-right: 30px
    &:hover
      color: $red
    &:after
      content: ''
      width: 0px
      position: absolute
      bottom: -30px
      left: 50%
      +trans()
    &.active:after
      content: ''
      height: 3px
      width: 40px
      background-color: $red
      position: absolute
      bottom: -30px
      left: 50%
      transform: translateX(-50%)
  a:last-of-type
    margin-right: 0
  .mobile-popup-wrapper
    align-items: center
    display: none
    +r(700)
      display: flex
    h5
      +fr
      font-size: 16px
  .boorger-to-open
    cursor: pointer
    height: 20px
    width: 30px
    +trans()
    position: relative
    margin-left: 30px
    span
      height: 2px
      width: 30px
      background-color: #ffffff
      display: block
      position: absolute
      opacity: 1
      left: 0
      +trans()
      &:nth-child(1)
        top: 0
      &:nth-child(2),
      &:nth-child(3)
        top: 7px
      &:nth-child(4)
        top: 14px
    &.open
      span:nth-child(1)
        top: 7px
        width: 0%
        left: 50%
    &.open
      span:nth-child(2)
        -webkit-transform: rotate(45deg)
        -moz-transform: rotate(45deg)
        -o-transform: rotate(45deg)
        transform: rotate(45deg)
    &.open
      span:nth-child(3)
        -webkit-transform: rotate(-45deg)
        -moz-transform: rotate(-45deg)
        -o-transform: rotate(-45deg)
        transform: rotate(-45deg)
    &.open
      span:nth-child(4)
        top: 7px
        width: 0%
        left: 50%