/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: 'stolzl-book';
  src: url('fonts/stolzl-book.eot');
  src: local('☺'), url('fonts/stolzl-book.woff') format('woff'), url('fonts/stolzl-book.ttf') format('truetype'),
    url('fonts/stolzl-book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'stolzl-medium';
  src: url('fonts/stolzl-medium.eot');
  src: local('☺'), url('fonts/stolzl-medium.woff') format('woff'), url('fonts/stolzl-medium.ttf') format('truetype'),
    url('fonts/stolzl-medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'stolzl-regular';
  src: url('fonts/stolzl-regular.eot');
  src: local('☺'), url('fonts/stolzl-regular.woff') format('woff'), url('fonts/stolzl-regular.ttf') format('truetype'),
    url('fonts/stolzl-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
