.product-slider-wrapper
  width: 400px
  height: 400px
  border-radius: 7px
  overflow: hidden
  +r(1350)
    height: 354px
    width: 349px
  +r(1163)
    width: 100%
    height: calc(55vw - 130px)
    // margin-left: 50%
    // transform: translateX(-50%)
  +r(630)
    height: 390px
    height: calc(100vw)
    width: 384px
  +r(630)
    width: 100%
  .slick-slider,
  .slick-slider img,
  .slick-slide > div
    height: 400px
    +r(1350)
      height: 354px
    +r(630)
      height: 390px
  .slick-slider,
  .slick-slider img,
  .slick-slider .slick-track, 
  .slick-slider .slick-list
    +r(1163)
      height: 100%
  .slick-slide > div
    position: relative
  .img
    border-radius: 0
  .slick-dots
    bottom: 31px
    width: auto
    right: 33px
    z-index: 2
    +r(1350)
      bottom: 20px
    li
      margin: 0
      width: 15px
    button
      &::before
        font-size: 9px
  .slick-arrow
    z-index: 1
    position: absolute
    background-color: transparent
    height: 100%
    width: 50%
    &:before
      content: ''
  .slick-next
    right: 0
  .slick-prev
    left: 0
  .img
    +r(1063)
      // height: calc(65vw - 130px)
    +r(630)
      // height: 390px