.projects
  h2
    margin-top: 70px
    margin-bottom: 60px
    +fm
    font-size: 30px
  .projects-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-left: -20px
    margin-right: -20px